@import "style.css";

.game-board{
    position: absolute;
    top: 4rem;
    left: 50%;
    transform: translate(-50%);
    width: 650px;
    height: 600px;
    background: rgb(7, 106, 255);
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.441);
    padding: 1.5rem;
}


.slots{
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.reset{
    position: absolute;
    top: 80vh;
    left: 50%;
    transform: translate(-50%);
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}