@import "style.css";

.title-class {
    font-family: 'Common Pixel', sans-serif;
    font-size: 70px;
    color: white;
    padding: 15px;
    text-align: center;
}

.game-board{
    width: 650px;
    height: 600px;
    background: #2E8BC0;
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.441);
    padding: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.slot {
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.slot:hover {
    border: 6px solid #2B3C6B;
}

.play-again{
    /* //border: 1px solid black; */
    width: 8rem;
    text-align: center;
    cursor: pointer;
    display: none;
    height: 60px;
    line-height: 60px;
    width: 200px;
    background: #27f09c;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    text-decoration-line: none;
    font-family: 'Common Pixel', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 900px;
    min-height: 650px;
}

.colourball-yellow {
    display: none;
    width: 100px;
    height: 100px;
    background: yellow;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 0 25px yellow;
    animation: flicker-yellow 1s infinite;
}

.colourball-red {
    display: none;
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 50%;
    margin: 20px;
    box-shadow: 0 0 25px red;
    animation: flicker-red 1s infinite;
}

@keyframes flicker-red {
  0% {
    box-shadow: 0 0 25px red;
  }
  25% {
    box-shadow: 0 0 60px red;
  }
  50% {
    box-shadow: 0 0 50px red;
  }
  90% {
    box-shadow: 0 0 27px red;
  }
}

@keyframes flicker-yellow {
  0% {
    box-shadow: 0 0 25px yellow;
  }
  25% {
    box-shadow: 0 0 60px yellow;
  }
  50% {
    box-shadow: 0 0 50px yellow;
  }
  90% {
    box-shadow: 0 0 27px yellow;
  }
}

.right-section {
    display: flex;
    align-items: center;
    width: 25%;
    flex-direction: column;
    justify-content: space-around;
    padding-right: 20px;
    padding-top: 39px;
}

.left-section {
    width: 75%;
}

.player-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.441);
    min-width: 45px;
    border-radius: 5px;
    font-family: 'Bradley Hand', cursive;
    color: whitesmoke
}

.player-turn-wrapper {
    padding: 10px;
    width: 100%;
    text-align: center;
    background-color: #2E8BC0;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-weight: 200;
}

.status-class {
    text-align: center;
    padding: 10px;
    background-color: #3fa3dd;
    width: 100%;
    height: auto;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-weight: 100;
}

body {
    background-image:url(../Photos/Blurred-Windmills.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    width: 100vw;
    display: block;
    font-family: Bradley Hand;
}