@import "style.css";

.game-board{
    width: 650px;
    height: 600px;
    background: rgb(7, 106, 255);
    border: 1px solid black;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.441);
    padding: 1.5rem;
    margin-top: 10px;
    margin-bottom: 10px;
}


.slot {
    width: 90px;
    height: 90px;
    background: white;
    border: 1px solid black;
    border-radius: 50%;
}

.slot:hover {
    background-color: turquoise;
}

.reset{
    border: 1px solid black;
    width: 5rem;
    text-align: center;
    cursor: pointer;
}

.status-class {
    /* border: 1px solid blue; */
    margin: 5px;
    text-align: center;
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}
